<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144690198674-qp0nodokkjm60vb6bng7f5vkgf7531ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144690198674-qp0nodokkjm60vb6bng7f5vkgf7531ct</string>
	<key>API_KEY</key>
	<string>AIzaSyA5CskdWf3MYnuRg_plJdxvItq_Ot0X-n8</string>
	<key>GCM_SENDER_ID</key>
	<string>144690198674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cogsciLabEyeTracker</string>
	<key>PROJECT_ID</key>
	<string>eye-tracker-164c8</string>
	<key>STORAGE_BUCKET</key>
	<string>eye-tracker-164c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144690198674:ios:48ec1e1bc08f11e29f8e4b</string>
</dict>
</plist>